:root {
  --main-bg: #f0eff0;
  --content-bg: #ffffff98;

  --a-color: #e71c1c;
  --ahover-color: #ff7272;
  --sec-bg: #ffefef;
  --linkshover-bg: #fffefe;
  --linksactive-color: #4c0000;
}

@media screen and (min-width: 955px) {
  body {
    padding-left: 100px;
  }

  #content {
    display: flex;
    position: relative;
  }

  div.blank {
    width: 20px;
    margin-left: 5px;
    border-left: dashed 4px var(--sec-bg);
    flex-shrink: 0;
  }

  nav#links {
    width: 150px;
    position: absolute;
    left: -195px;
  }

  ul.links li {
    transform: rotate(3deg);
    margin: 5px;
    width: 150px;
  }

  ul.links li:hover {
    transform: rotate(0deg);
    translate: -15px;
  }
}

@media screen and (max-width: 954px) {
  nav#links {
    display: flex;
    width: 100%;
    align-content:stretch;
    margin-left: -20px;
  }

  ul.links li {
    display: inline-block;
  }

  div.blank {
    display: none;
  }
}

ul.links li {
  list-style: none;
  padding: 5px 10px;
  border: dashed 2px #ff676700;
  border-radius: 5px;
  overflow: auto;
  background-color: var(--sec-bg);
}

ul.links li:hover {
  background-color: var(--linkshover-bg);
  border: solid 2px var(--ahover-color);
}

ul.links li:active {
  color: var(--linksactive-color);
  background-color: var(--ahover-color);
}

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: var(--main-bg);
  max-width: 700px;
  margin: 30px auto;
  /* font-family: sans-serif; */
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3, body {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  /* letter-spacing: 5px; */
  /* word-spacing: 5px; */
  font-size: 200%;
  text-align: center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 0px;
  border-radius: 5px;
  background-color: var(--content-bg);
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 15px;
  margin-bottom: 10px;
  border: solid 0px;
  border-radius: 5px;
  background-color: var(--sec-bg);
  overflow: auto;
}

.resultimg {
  width: 100%;
}

a {
  color: var(--a-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  color: var(--ahover-color);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}