/* Here we can set styles for this lab page that we don't want to effect others pages */
/* :root {
  --main-bg: #6f5e7a;
  --content-bg: #faf4fe;

  --a-color: #6c08c9;
  --ahover-color: #dc72ff;
  --sec-bg: #f6ddfb;
  --linkshover-bg: #fffeff;
  --linksactive-color: #3c004c;
} */

/* pre {
  background-color: var(--content-bg);
} */