/* Here we can set styles for this lab page that we don't want to effect others pages */

:root {
  --main-bg: #88c0cd;
  --content-bg: #e3f4eed9;

  --a-color: #13b9b0;
  --ahover-color: #81d6be;
  --sec-bg: #ebf4f1;
  --linkshover-bg: #fffefe;
  --linksactive-color: #004c2f;
}

.resultimgside {
  width: 50%;
  float: right;
}