/* Here we can set styles for this lab page that we don't want to effect others pages */
:root {
  --main-bg: #434a45;
  --content-bg: #eaf4ed;

  --a-color: #009431;
  --ahover-color: #a2d0ad;
  --sec-bg: #f8fffa;
  --linkshover-bg: #fefffe;
  --linksactive-color: #004c05;
}

