/* Here we can set styles for this lab page that we don't want to effect others pages */
:root {
  --a-color: #1c59e7;
  --ahover-color: #a87efb;
  --sec-bg: #f1faff;
  --linkshover-bg: #fefeff;
  --linksactive-color: #001e4c;
}

body {
  background-color: #7274a5;
}

#content {
  background-color: #ddedff;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 0px #888;
    border-radius: 5px;
    background-color: #f6fdff;
  }

  h1 {
    color: #250d6e;
    /* font-size: 2.3em; */
  }

  p {
    text-indent: 20px;
  }

  #content {
    border: dashed 2px #6cc8fd;
  }